sample-thingspeak
[{"id":"ae6908d2.1e88d","type":"tab","label":"Get status of each rooms from Thingspeak","disabled":true,"info":""},{"id":"75bc936.a0d85ec","type":"mqtt in","z":"ae6908d2.1e88d","name":"","topic":"channels/922300/subscribe/fields/field1/2CBTETAU0KYM9SXS","qos":"0","broker":"90737a54.21828","x":270,"y":80,"wires":[["d058c532.33219"]]},{"id":"d058c532.33219","type":"json","z":"ae6908d2.1e88d","name":"","property":"payload","action":"","pretty":false,"x":605,"y":80,"wires":[["7c0e4d90.8d1ed4"]]},{"id":"ab35ea0f.909678","type":"json","z":"ae6908d2.1e88d","name":"","property":"payload","action":"","pretty":false,"x":603,"y":148,"wires":[["d2525b04.d5f47"]]},{"id":"2d9785a8.1f3072","type":"mqtt in","z":"ae6908d2.1e88d","name":"","topic":"channels/922300/subscribe/fields/field1/2CBTETAU0KYM9SXS","qos":"0","broker":"90737a54.21828","x":268,"y":148,"wires":[["ab35ea0f.909678"]]},{"id":"7f05eda2.51941c","type":"json","z":"ae6908d2.1e88d","name":"","property":"payload","action":"","pretty":false,"x":606,"y":227,"wires":[["711036d3.160ea"]]},{"id":"f95557bf.ce56b","type":"mqtt in","z":"ae6908d2.1e88d","name":"","topic":"channels/922300/subscribe/fields/field1/2CBTETAU0KYM9SXS","qos":"0","broker":"90737a54.21828","x":271,"y":227,"wires":[["7f05eda2.51941c"]]},{"id":"d1776773.1de208","type":"json","z":"ae6908d2.1e88d","name":"","property":"payload","action":"","pretty":false,"x":607,"y":296,"wires":[["c3d64470.10533"]]},{"id":"6df77469.ef2cf4","type":"mqtt in","z":"ae6908d2.1e88d","name":"","topic":"channels/922300/subscribe/fields/field1/2CBTETAU0KYM9SXS","qos":"0","broker":"90737a54.21828","x":272,"y":296,"wires":[["d1776773.1de208"]]},{"id":"b896bb8c.311f3","type":"comment","z":"ae6908d2.1e88d","name":"Just a scheme how to get info backIn documentation written that to Get info from Thingspeak server i need to use path :channel-channelID-subscribe-APIKEY but i realy dont know why i cant connect to server and get info back","info":"In documentation written that to Get info from Thingspeak\nserver i need to use path :channel-channelID-subscribe-APIKEY\nbut i realy dont know why i cant connect to server and get info back","x":740,"y":380,"wires":[]},{"id":"c3d64470.10533","type":"ui_chart","z":"ae6908d2.1e88d","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":300,"wires":[[],[]]},{"id":"711036d3.160ea","type":"ui_chart","z":"ae6908d2.1e88d","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":220,"wires":[[],[]]},{"id":"d2525b04.d5f47","type":"ui_chart","z":"ae6908d2.1e88d","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":830,"y":160,"wires":[[],[]]},{"id":"7c0e4d90.8d1ed4","type":"ui_chart","z":"ae6908d2.1e88d","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810,"y":80,"wires":[[],[]]},{"id":"90737a54.21828","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
