thermostatdashboard
[{"id":"876a4c3c.faed2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a640a5c.81cc76","type":"inject","z":"876a4c3c.faed2","name":"","topic":"","payload":"coap://[aaaa::212:7403:3:303]","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1460,"wires":[["b1f23870.a96c28"]]},{"id":"d92e1e89.b4dad","type":"function","z":"876a4c3c.faed2","name":"cooler","func":"var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1170,"y":500,"wires":[["df892102.de6ea"]]},{"id":"997d7986.13d8f","type":"function","z":"876a4c3c.faed2","name":"heater","func":"var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1170,"y":540,"wires":[["f8bcd53b.6269d8"]]},{"id":"829d8b0a.cd0e38","type":"function","z":"876a4c3c.faed2","name":"ventilation","func":"var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1190,"y":580,"wires":[["9ad4d679.2f4368"]]},{"id":"2b9b84ad.98460c","type":"function","z":"876a4c3c.faed2","name":"SetRequest","func":"var url = flow.get(\"address1\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1770,"y":540,"wires":[["de309d03.a3bbe"]]},{"id":"2eedff29.6fadd","type":"function","z":"876a4c3c.faed2","name":"SetIP","func":"flow.set(\"address1\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":640,"wires":[["24cc7112.e78d26","6ccc10e4.e5d2d8"]]},{"id":"894b8d77.50e188","type":"switch","z":"876a4c3c.faed2","name":"SuccessfulSetRequest","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":400,"wires":[["72138dd3.a47644","6ccc10e4.e5d2d8","30b17f3d.f1283"]]},{"id":"6ccc10e4.e5d2d8","type":"function","z":"876a4c3c.faed2","name":"StatusRequest","func":"var url = flow.get(\"address1\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["458d562a.79d3c"]]},{"id":"24cc7112.e78d26","type":"function","z":"876a4c3c.faed2","name":"TemperatureRequest","func":"var url = flow.get(\"address1\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1080,"y":640,"wires":[["c14ea0bb.1df5f"]]},{"id":"410a1ad.11535e4","type":"function","z":"876a4c3c.faed2","name":"Temperature","func":"var newMsg = { payload: msg.payload.temperature, topic:1};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1770,"y":640,"wires":[["5cd58705.313b9","1e992f87.6b306","786ca2f4.0c1ebc"]]},{"id":"6512633d.8a5fa4","type":"json","z":"876a4c3c.faed2","name":"","property":"payload","action":"","pretty":false,"x":1610,"y":640,"wires":[["410a1ad.11535e4"]]},{"id":"5524e9fa.b78898","type":"function","z":"876a4c3c.faed2","name":"cooler","func":"var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1110,"y":1320,"wires":[["c434ddd9.2f834"]]},{"id":"cf10e9a5.a45368","type":"function","z":"876a4c3c.faed2","name":"heater","func":"var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1110,"y":1360,"wires":[["687aa608.995168"]]},{"id":"73eb3862.bb5058","type":"function","z":"876a4c3c.faed2","name":"ventilation","func":"var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1130,"y":1400,"wires":[["9ab80333.d742e"]]},{"id":"daf09728.fb9748","type":"function","z":"876a4c3c.faed2","name":"SetRequest","func":"var url = flow.get(\"address2\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1590,"y":1360,"wires":[["fcf411c2.558068"]]},{"id":"3730ca3a.275c36","type":"function","z":"876a4c3c.faed2","name":"SetIP","func":"flow.set(\"address2\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":1460,"wires":[["63e0cfb8.d44748","25f2cf58.d4b86"]]},{"id":"e5560a53.dcb4a","type":"switch","z":"876a4c3c.faed2","name":"SuccessfulSetRequest","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1120,"wires":[["27f19123.3e768e","63e0cfb8.d44748","bcd5e466.d63148"]]},{"id":"63e0cfb8.d44748","type":"function","z":"876a4c3c.faed2","name":"StatusRequest","func":"var url = flow.get(\"address2\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":740,"y":1360,"wires":[["5faf5b2f.7e69c4"]]},{"id":"25f2cf58.d4b86","type":"function","z":"876a4c3c.faed2","name":"TemperatureRequest","func":"var url = flow.get(\"address2\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1020,"y":1460,"wires":[["f8f0da6d.9e5e2"]]},{"id":"9afc93ee.1064d","type":"function","z":"876a4c3c.faed2","name":"Temperature","func":"var newMsg = { payload: msg.payload.temperature, topic:2};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1590,"y":1460,"wires":[["e5d15448.4831b8","a060a6d4.88f818","827a3429.fa682"]]},{"id":"43c16dd8.1b382c","type":"json","z":"876a4c3c.faed2","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":1460,"wires":[["9afc93ee.1064d"]]},{"id":"a176bd83.5b04f","type":"function","z":"876a4c3c.faed2","name":"cooler","func":"var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1290,"y":1820,"wires":[["5e400b9f.9b7d74"]]},{"id":"2f4e0560.9107b2","type":"function","z":"876a4c3c.faed2","name":"heater","func":"var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1290,"y":1860,"wires":[["df1b537c.db68e"]]},{"id":"4e2e310f.66d96","type":"function","z":"876a4c3c.faed2","name":"ventilation","func":"var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1310,"y":1900,"wires":[["b1876557.c7c02"]]},{"id":"506ddc6a.ed97dc","type":"function","z":"876a4c3c.faed2","name":"SetRequest","func":"var url = flow.get(\"address3\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1770,"y":1860,"wires":[["ec5cbe2d.1dc2c8"]]},{"id":"7ac55ec2.485cf8","type":"function","z":"876a4c3c.faed2","name":"SetIP","func":"flow.set(\"address3\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1860,"wires":[["2cc5b5b3.afe02a","592d9364.cb75b4"]]},{"id":"744e227.d6f2ddc","type":"switch","z":"876a4c3c.faed2","name":"SuccessfulSetRequest","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":1700,"wires":[["bdcd2afc.56e57","2cc5b5b3.afe02a","6a84f8c1.1aedc8"]]},{"id":"2cc5b5b3.afe02a","type":"function","z":"876a4c3c.faed2","name":"StatusRequest","func":"var url = flow.get(\"address3\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":920,"y":1862,"wires":[["1e865828.960d"]]},{"id":"592d9364.cb75b4","type":"function","z":"876a4c3c.faed2","name":"TemperatureRequest","func":"var url = flow.get(\"address3\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":880,"y":1960,"wires":[["f20cf9c5.5babb"]]},{"id":"c6ce6bed.78ba58","type":"function","z":"876a4c3c.faed2","name":"Temperature","func":"var newMsg = { payload: msg.payload.temperature, topic:3};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1450,"y":1960,"wires":[["a8e9aa7.e975158","43e47002.a7cc08","ce7b53d2.7ee338"]]},{"id":"3e19ecf5.6c84ac","type":"json","z":"876a4c3c.faed2","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":1960,"wires":[["c6ce6bed.78ba58"]]},{"id":"7c459f9e.dc8cf8","type":"function","z":"876a4c3c.faed2","name":"cooler","func":"var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1310,"y":2260,"wires":[["8f5552a6.1c7af8"]]},{"id":"bb5e6109.63fe6","type":"function","z":"876a4c3c.faed2","name":"heater","func":"var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1310,"y":2300,"wires":[["1208f8c1.2521c7"]]},{"id":"725b971d.87bfb","type":"function","z":"876a4c3c.faed2","name":"ventilation","func":"var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1330,"y":2340,"wires":[["4fdcec11.0bbb34"]]},{"id":"3123d54f.f7ee22","type":"function","z":"876a4c3c.faed2","name":"SetRequest","func":"var url = flow.get(\"address4\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1790,"y":2300,"wires":[["8725a83d.9359a8"]]},{"id":"31a67076.e9b348","type":"function","z":"876a4c3c.faed2","name":"SetIP","func":"flow.set(\"address4\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":2420,"wires":[["774d8541.50afdc","7eebd457.050c94"]]},{"id":"eba0c7e8.ae93d8","type":"switch","z":"876a4c3c.faed2","name":"SuccessfulSetRequest","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"neq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":2300,"wires":[["82e766cf.2fb448","774d8541.50afdc","a724c7a.fec2338"],[]]},{"id":"774d8541.50afdc","type":"function","z":"876a4c3c.faed2","name":"StatusRequest","func":"var url = flow.get(\"address4\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":880,"y":2300,"wires":[["195a81df.7ffb1e"]]},{"id":"7eebd457.050c94","type":"function","z":"876a4c3c.faed2","name":"TemperatureRequest","func":"var url = flow.get(\"address4\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":900,"y":2540,"wires":[["db239321.1890e8"]]},{"id":"68744698.5c582","type":"function","z":"876a4c3c.faed2","name":"Temperature","func":"var newMsg = { payload: msg.payload.temperature, topic:4};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1570,"y":2540,"wires":[["bb2880dc.c8f39","80238624.04638","cbe74471.163fe"]]},{"id":"e6b6f53.c72ee08","type":"json","z":"876a4c3c.faed2","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":2540,"wires":[["68744698.5c582"]]},{"id":"5cd58705.313b9","type":"ui_gauge","z":"876a4c3c.faed2","name":"","group":"cb50cc2.f409a3","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"Degrees","format":"{{value}}","min":"10","max":"30","colors":["#3200b5","#00e61e","#ca3838"],"seg1":"18","seg2":"19","x":1970,"y":640,"wires":[]},{"id":"e5d15448.4831b8","type":"ui_gauge","z":"876a4c3c.faed2","name":"","group":"8628859.a61dff8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"Degrees","format":"{{value}}","min":"10","max":"30","colors":["#3200b5","#00e61e","#ca3838"],"seg1":"18","seg2":"24","x":1910,"y":1460,"wires":[]},{"id":"a8e9aa7.e975158","type":"ui_gauge","z":"876a4c3c.faed2","name":"","group":"2cf4235.e34e55c","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"Degrees","format":"{{value}}","min":"10","max":"30","colors":["#3200b5","#00e61e","#ca3838"],"seg1":"18","seg2":"24","x":1650,"y":1960,"wires":[]},{"id":"bb2880dc.c8f39","type":"ui_gauge","z":"876a4c3c.faed2","name":"","group":"8d059242.6be7e8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"Degrees","format":"{{value}}","min":"10","max":"30","colors":["#3200b5","#00e61e","#ca3838"],"seg1":"18","seg2":"24","x":1770,"y":2540,"wires":[]},{"id":"df892102.de6ea","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"cooler","group":"cb50cc2.f409a3","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ac","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1430,"y":500,"wires":[["2b9b84ad.98460c"]]},{"id":"f8bcd53b.6269d8","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"heater","group":"cb50cc2.f409a3","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1430,"y":540,"wires":[["2b9b84ad.98460c"]]},{"id":"9ad4d679.2f4368","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"ventilation","group":"cb50cc2.f409a3","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1450,"y":580,"wires":[["2b9b84ad.98460c"]]},{"id":"c434ddd9.2f834","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"cooler","group":"8628859.a61dff8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ac","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":1320,"wires":[["daf09728.fb9748"]]},{"id":"687aa608.995168","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"heater","group":"8628859.a61dff8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1370,"y":1360,"wires":[["daf09728.fb9748"]]},{"id":"9ab80333.d742e","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"ventilation","group":"8628859.a61dff8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1390,"y":1400,"wires":[["daf09728.fb9748"]]},{"id":"5e400b9f.9b7d74","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"cooler","group":"2cf4235.e34e55c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ac","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1550,"y":1820,"wires":[["506ddc6a.ed97dc"]]},{"id":"df1b537c.db68e","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"heater","group":"2cf4235.e34e55c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1550,"y":1860,"wires":[["506ddc6a.ed97dc"]]},{"id":"b1876557.c7c02","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"ventilation","group":"2cf4235.e34e55c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1570,"y":1900,"wires":[["506ddc6a.ed97dc"]]},{"id":"8f5552a6.1c7af8","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"cooler","group":"8d059242.6be7e8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ac","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1570,"y":2260,"wires":[["3123d54f.f7ee22"]]},{"id":"1208f8c1.2521c7","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"heater","group":"8d059242.6be7e8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1570,"y":2300,"wires":[["3123d54f.f7ee22"]]},{"id":"4fdcec11.0bbb34","type":"ui_switch","z":"876a4c3c.faed2","name":"","label":"ventilation","group":"8d059242.6be7e8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1590,"y":2340,"wires":[["3123d54f.f7ee22"]]},{"id":"9ce87c76.9c00c8","type":"ui_chart","z":"876a4c3c.faed2","name":"","group":"b580a980.dd9968","order":10,"width":"6","height":"5","label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#2043f3","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":4230,"y":920,"wires":[[],[]]},{"id":"458d562a.79d3c","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":false,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetStatus","x":980,"y":540,"wires":[["d92e1e89.b4dad","997d7986.13d8f","829d8b0a.cd0e38"]]},{"id":"de309d03.a3bbe","type":"coap request","z":"876a4c3c.faed2","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"SetDevice","x":1950,"y":540,"wires":[["894b8d77.50e188"]],"outputLabels":["a"]},{"id":"c14ea0bb.1df5f","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":true,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetTemperature","x":1290,"y":640,"wires":[["6512633d.8a5fa4"]]},{"id":"5faf5b2f.7e69c4","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":false,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetStatus","x":920,"y":1360,"wires":[["5524e9fa.b78898","cf10e9a5.a45368","73eb3862.bb5058"]]},{"id":"fcf411c2.558068","type":"coap request","z":"876a4c3c.faed2","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"SetDevice","x":1790,"y":1360,"wires":[["e5560a53.dcb4a"]],"outputLabels":["a"]},{"id":"f8f0da6d.9e5e2","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":true,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetTemperature","x":1230,"y":1460,"wires":[["43c16dd8.1b382c"]]},{"id":"1e865828.960d","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":false,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetStatus","x":1100,"y":1860,"wires":[["a176bd83.5b04f","2f4e0560.9107b2","4e2e310f.66d96"]]},{"id":"ec5cbe2d.1dc2c8","type":"coap request","z":"876a4c3c.faed2","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"SetDevice","x":1950,"y":1860,"wires":[["744e227.d6f2ddc"]],"outputLabels":["a"]},{"id":"f20cf9c5.5babb","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":true,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetTemperature","x":1090,"y":1960,"wires":[["3e19ecf5.6c84ac"]]},{"id":"195a81df.7ffb1e","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":false,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetStatus","x":1120,"y":2300,"wires":[["7c459f9e.dc8cf8","bb5e6109.63fe6","725b971d.87bfb"]]},{"id":"8725a83d.9359a8","type":"coap request","z":"876a4c3c.faed2","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"SetDevice","x":2005,"y":2300,"wires":[["eba0c7e8.ae93d8"]],"outputLabels":["a"]},{"id":"db239321.1890e8","type":"coap request","z":"876a4c3c.faed2","method":"GET","observe":true,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetTemperature","x":1210,"y":2540,"wires":[["e6b6f53.c72ee08"]]},{"id":"72138dd3.a47644","type":"ui_toast","z":"876a4c3c.faed2","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Bathroom:Sorry impossible to turn on Heater and Cooler at the same time","name":"","x":890,"y":400,"wires":[]},{"id":"27f19123.3e768e","type":"ui_toast","z":"876a4c3c.faed2","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Living room:Impossible to switch on heater/cooler at the same time","name":"","x":910,"y":1160,"wires":[]},{"id":"bdcd2afc.56e57","type":"ui_toast","z":"876a4c3c.faed2","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"kitchen:Impossible to switch on heater/cooler at the same time","name":"","x":1190,"y":1700,"wires":[]},{"id":"82e766cf.2fb448","type":"ui_toast","z":"876a4c3c.faed2","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"bedroom:Impossible to switch on heater/cooler at the same time","name":"","x":870,"y":2240,"wires":[]},{"id":"ed141c16.77302","type":"mqtt out","z":"876a4c3c.faed2","name":"","topic":"channels/922300/publish/7N6FGHYAF7N41YBQ","qos":"0","retain":"false","broker":"90737a54.21828","x":4370,"y":1080,"wires":[]},{"id":"6141087a.45e6e","type":"function","z":"876a4c3c.faed2","name":"MQTTPayload","func":"var newMsg = { payload: \"field1=\" + msg.payload};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":4000,"y":1080,"wires":[["ed141c16.77302"]]},{"id":"6bec6ca8.8c50ac","type":"function","z":"876a4c3c.faed2","name":"MQTTPayload","func":"var arr = msg.payload;\nvar text = \"\";\n\nfor (i = 0; i < arr.length; i++) {\n  text += \"field\" + (i + 1) + \"=\" + arr[i];\n  if( i + 1 < arr.length)\n    text+=\"&\";\n}\n\n\nvar newMsg = { payload: text};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":2080,"y":2660,"wires":[["f6b59b5b.903c98"]]},{"id":"f6b59b5b.903c98","type":"mqtt out","z":"876a4c3c.faed2","name":"","topic":"channels/921860/publish/84AL7CR3JFOW4HLO","qos":"0","retain":"","broker":"90737a54.21828","x":2470,"y":2660,"wires":[]},{"id":"3940c1d2.6ad8ce","type":"function","z":"876a4c3c.faed2","name":"ChartTitle","func":"var newMsg = { payload: msg.payload, topic: \"AverageTemp\"};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":3980,"y":920,"wires":[["9ce87c76.9c00c8"]]},{"id":"5121a6d.1a4ef58","type":"ui_button","z":"876a4c3c.faed2","name":"","group":"cb50cc2.f409a3","order":1,"width":"4","height":"1","passthru":true,"label":"Connect Bathroom","color":"#000000","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7402:2:202]","payloadType":"str","topic":"","x":330,"y":640,"wires":[["2eedff29.6fadd"]]},{"id":"b1f23870.a96c28","type":"ui_button","z":"876a4c3c.faed2","name":"","group":"8628859.a61dff8","order":1,"width":"4","height":"1","passthru":true,"label":"Connect to LivingRoom","color":"#000000","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7403:3:303]","payloadType":"str","topic":"","x":350,"y":1460,"wires":[["3730ca3a.275c36"]]},{"id":"e7dabf33.c1e73","type":"ui_button","z":"876a4c3c.faed2","name":"","group":"2cf4235.e34e55c","order":1,"width":0,"height":0,"passthru":true,"label":"Connect to kitchen","color":"#000000","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7404:4:404]","payloadType":"str","topic":"","x":290,"y":1860,"wires":[["7ac55ec2.485cf8"]]},{"id":"eed9a5ff.8dbad8","type":"ui_button","z":"876a4c3c.faed2","name":"","group":"8d059242.6be7e8","order":1,"width":0,"height":0,"passthru":true,"label":"Connect to bedroom","color":"#000000","bgcolor":"","icon":"","payload":"coap://[aaaa::212:7405:5:505]","payloadType":"str","topic":"","x":300,"y":2420,"wires":[["31a67076.e9b348"]]},{"id":"1e992f87.6b306","type":"batch","z":"876a4c3c.faed2","name":"TempData","mode":"interval","count":10,"overlap":0,"interval":"60","allowEmptySequence":false,"topics":[{"topic":""}],"x":1635,"y":719,"wires":[["329667fc.c7937"]]},{"id":"329667fc.c7937","type":"join","z":"876a4c3c.faed2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1796,"y":719,"wires":[["d180478e.9fe61"]]},{"id":"d180478e.9fe61","type":"function","z":"876a4c3c.faed2","name":"ArrayAverage","func":"var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:1};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1954,"y":718,"wires":[["b3739a10.88ff1","724ef05c.b4727","2d95a3e5.1bbaa4"]]},{"id":"a060a6d4.88f818","type":"batch","z":"876a4c3c.faed2","name":"TempData","mode":"interval","count":10,"overlap":0,"interval":"60","allowEmptySequence":false,"topics":[{"topic":""}],"x":1378,"y":1565,"wires":[["7dc394d.7b0c0ec"]]},{"id":"7dc394d.7b0c0ec","type":"join","z":"876a4c3c.faed2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1539,"y":1565,"wires":[["ee36810e.14949"]]},{"id":"ee36810e.14949","type":"function","z":"876a4c3c.faed2","name":"ArrayAverage","func":"var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:2};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1877,"y":1564,"wires":[["b3739a10.88ff1","2b2b4980.fc971e","172eaebd.ba0519"]]},{"id":"43e47002.a7cc08","type":"batch","z":"876a4c3c.faed2","name":"TempData","mode":"interval","count":10,"overlap":0,"interval":"60","allowEmptySequence":false,"topics":[{"topic":""}],"x":1290,"y":2060,"wires":[["dac76025.02c568"]]},{"id":"dac76025.02c568","type":"join","z":"876a4c3c.faed2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1457,"y":2055,"wires":[["946aacfe.d7aa4"]]},{"id":"946aacfe.d7aa4","type":"function","z":"876a4c3c.faed2","name":"ArrayAverage","func":"var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:3};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1615,"y":2054,"wires":[["b3739a10.88ff1","56abb978.f2afd","3a073a1e.fe35a6"]]},{"id":"80238624.04638","type":"batch","z":"876a4c3c.faed2","name":"TempData","mode":"interval","count":10,"overlap":0,"interval":"60","allowEmptySequence":false,"topics":[{"topic":""}],"x":1408,"y":2664,"wires":[["6d165b14.fc3adc"]]},{"id":"6d165b14.fc3adc","type":"join","z":"876a4c3c.faed2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1569,"y":2664,"wires":[["fc5502d2.3c9648"]]},{"id":"fc5502d2.3c9648","type":"function","z":"876a4c3c.faed2","name":"ArrayAverage","func":"var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:4};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1727,"y":2663,"wires":[["b3739a10.88ff1","6bec6ca8.8c50ac","2ef2470d.2dedb"]]},{"id":"865119c.104eb68","type":"debug","z":"876a4c3c.faed2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3970,"y":980,"wires":[]},{"id":"b3739a10.88ff1","type":"join","z":"876a4c3c.faed2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":3470,"y":920,"wires":[["76105163.9c3628"]]},{"id":"76105163.9c3628","type":"function","z":"876a4c3c.faed2","name":"ArrayAverage","func":"var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:2};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":3620,"y":920,"wires":[["6141087a.45e6e","3940c1d2.6ad8ce","865119c.104eb68","89f0ac37.5f3a5","ad89c023.932dc8","6eb69355.b03af4"]]},{"id":"c9152743.3817a","type":"inject","z":"876a4c3c.faed2","name":"","topic":"Bathroom","payload":"coap://[aaaa::212:7402:2:202]","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["5121a6d.1a4ef58"]]},{"id":"c6e9f6eb.25517","type":"inject","z":"876a4c3c.faed2","name":"","topic":"","payload":"coap://[aaaa::212:7404:4:404]","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1860,"wires":[["e7dabf33.c1e73"]]},{"id":"57c48583.78a6dc","type":"inject","z":"876a4c3c.faed2","name":"","topic":"","payload":"coap://[aaaa::212:7405:5:505]","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":2420,"wires":[["eed9a5ff.8dbad8"]]},{"id":"56abb978.f2afd","type":"function","z":"876a4c3c.faed2","name":"MQTTPayload","func":"var arr = msg.payload;\nvar text = \"\";\n\nfor (i = 0; i < arr.length; i++) {\n  text += \"field\" + (i + 1) + \"=\" + arr[i];\n  if( i + 1 < arr.length)\n    text+=\"&\";\n}\n\n\nvar newMsg = { payload: text};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":2340,"y":1920,"wires":[["1d368fab.bab708"]]},{"id":"1d368fab.bab708","type":"mqtt out","z":"876a4c3c.faed2","name":"","topic":"channels/914280/iotproject/field2/H4TPIZ9IT5QUTCEF","qos":"0","retain":"","broker":"90737a54.21828","x":2670,"y":1920,"wires":[]},{"id":"a533fcbf.89fa4","type":"function","z":"876a4c3c.faed2","name":"MQTTPayload","func":"var arr = msg.payload;\nvar text = \"\";\n\nfor (i = 0; i < arr.length; i++) {\n  text += \"field\" + (i + 1) + \"=\" + arr[i];\n  if( i + 1 < arr.length)\n    text+=\"&\";\n}\n\n\nvar newMsg = { payload: text};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":2200,"y":780,"wires":[[]]},{"id":"724ef05c.b4727","type":"mqtt out","z":"876a4c3c.faed2","name":"","topic":"channels/922300/publish/QKXUQJVGTND6PULT","qos":"0","retain":"false","broker":"780e3e31.d1ada8","x":2810,"y":720,"wires":[]},{"id":"2b2b4980.fc971e","type":"function","z":"876a4c3c.faed2","name":"MQTTPayload","func":"var arr = msg.payload;\nvar text = \"\";\n\nfor (i = 0; i < arr.length; i++) {\n  text += \"field\" + (i + 1) + \"=\" + arr[i];\n  if( i + 1 < arr.length)\n    text+=\"&\";\n}\n\n\nvar newMsg = { payload: text};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":2200,"y":1560,"wires":[["f5d08170.252418"]]},{"id":"f5d08170.252418","type":"mqtt out","z":"876a4c3c.faed2","name":"111","topic":"channels/922300/publish/QKXUQJVGTND6PULT","qos":"0","retain":"false","broker":"90737a54.21828","x":2370,"y":1560,"wires":[]},{"id":"a724c7a.fec2338","type":"ui_audio","z":"876a4c3c.faed2","name":"alert","group":"94285c3a.1f49c","voice":"id","always":true,"x":830,"y":2140,"wires":[]},{"id":"6a84f8c1.1aedc8","type":"ui_audio","z":"876a4c3c.faed2","name":"aaaaa","group":"94285c3a.1f49c","voice":"ru","always":"","x":1150,"y":1620,"wires":[]},{"id":"bcd5e466.d63148","type":"ui_audio","z":"876a4c3c.faed2","name":"aaaaa","group":"94285c3a.1f49c","voice":"ru","always":"","x":870,"y":1060,"wires":[]},{"id":"30b17f3d.f1283","type":"ui_audio","z":"876a4c3c.faed2","name":"alert","group":"94285c3a.1f49c","voice":"ru","always":true,"x":690,"y":260,"wires":[]},{"id":"89f0ac37.5f3a5","type":"ui_gauge","z":"876a4c3c.faed2","name":"","group":"b580a980.dd9968","order":0,"width":"6","height":"4","gtype":"wave","title":"","label":"°C","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":3970,"y":820,"wires":[]},{"id":"a7d2c7.93071538","type":"debug","z":"876a4c3c.faed2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2530,"y":660,"wires":[]},{"id":"c08c427d.60152","type":"e-mail","z":"876a4c3c.faed2","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":2530,"y":600,"wires":[]},{"id":"5dd7c4ec.599e64","type":"debug","z":"876a4c3c.faed2","name":"","active":false,"console":"false","complete":"payload","x":4230,"y":700,"wires":[]},{"id":"5cd84d2f.3fe8ec","type":"e-mail","z":"876a4c3c.faed2","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":4270,"y":640,"wires":[]},{"id":"30f8cb90.6d7934","type":"debug","z":"876a4c3c.faed2","name":"","active":false,"console":"false","complete":"payload","x":2410,"y":2060,"wires":[]},{"id":"3a073a1e.fe35a6","type":"function","z":"876a4c3c.faed2","name":"Check Value","func":"var msg\nif(msg>30){\n    msg.payload = \"Alert! The CPU is \" + msg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2190,"y":2060,"wires":[["30f8cb90.6d7934","c196e7d5.8369f"]]},{"id":"c196e7d5.8369f","type":"e-mail","z":"876a4c3c.faed2","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":2450,"y":2000,"wires":[]},{"id":"74e886c4.0e55c","type":"debug","z":"876a4c3c.faed2","name":"","active":false,"console":"false","complete":"payload","x":2430,"y":2900,"wires":[]},{"id":"3c42b156.2cb3a6","type":"e-mail","z":"876a4c3c.faed2","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":2461.9999923706055,"y":2742.4444541931152,"wires":[]},{"id":"b397690f.07e828","type":"debug","z":"876a4c3c.faed2","name":"","active":false,"console":"false","complete":"payload","x":2350,"y":1480,"wires":[]},{"id":"987175ca.7d51c8","type":"e-mail","z":"876a4c3c.faed2","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":2590,"y":1440,"wires":[]},{"id":"ad89c023.932dc8","type":"function","z":"876a4c3c.faed2","name":"Check Value","func":"var msg\nif(msg>30){\n    msg.payload = \"Alert! The CPU is \" + msg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":3990,"y":700,"wires":[["5cd84d2f.3fe8ec","5dd7c4ec.599e64"]]},{"id":"2d95a3e5.1bbaa4","type":"function","z":"876a4c3c.faed2","name":"Check Value","func":"var msg\nif(msg>30){\n    msg.payload = \"Alert! The CPU is \" + msg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2250,"y":600,"wires":[["c08c427d.60152","a7d2c7.93071538"]]},{"id":"172eaebd.ba0519","type":"function","z":"876a4c3c.faed2","name":"Check Value","func":"var msg\nif(msg>30){\n    msg.payload = \"Alert! The CPU is \" + msg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2169,"y":1446,"wires":[["987175ca.7d51c8","b397690f.07e828"]]},{"id":"2ef2470d.2dedb","type":"function","z":"876a4c3c.faed2","name":"Check Value","func":"var msg\nif(msg>30){\n    msg.payload = \"Alert! The CPU is \" + msg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2210,"y":2820,"wires":[["3c42b156.2cb3a6","74e886c4.0e55c"]]},{"id":"de108726.2b73b","type":"debug","z":"876a4c3c.faed2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":4590,"y":1200,"wires":[]},{"id":"6eb69355.b03af4","type":"function","z":"876a4c3c.faed2","name":"Thingspeak Message Configuration","func":"var API_KEY = \"QKXUQJVGTND6PULT\"\nvar avg = msg.payload\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY + \"&field1=\" + avg\nreturn msg;","outputs":1,"noerr":0,"x":4070,"y":1200,"wires":[["1de92431.2a6be4"]]},{"id":"1de92431.2a6be4","type":"http request","z":"876a4c3c.faed2","name":"","method":"GET","ret":"txt","url":"","tls":"","x":4410,"y":1200,"wires":[["de108726.2b73b"]]},{"id":"827a3429.fa682","type":"ui_chart","z":"876a4c3c.faed2","name":"","group":"8628859.a61dff8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1920,"y":1400,"wires":[[],[]]},{"id":"786ca2f4.0c1ebc","type":"ui_chart","z":"876a4c3c.faed2","name":"","group":"cb50cc2.f409a3","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1980,"y":600,"wires":[[],[]]},{"id":"ce7b53d2.7ee338","type":"ui_chart","z":"876a4c3c.faed2","name":"","group":"2cf4235.e34e55c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1660,"y":2020,"wires":[[],[]]},{"id":"cbe74471.163fe","type":"ui_chart","z":"876a4c3c.faed2","name":"","group":"8d059242.6be7e8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1780,"y":2480,"wires":[[],[]]},{"id":"cb50cc2.f409a3","type":"ui_group","z":"","name":"Bathroom","tab":"e3875eee.72fbe8","order":null,"disp":true,"width":"4","collapse":false},{"id":"8628859.a61dff8","type":"ui_group","z":"","name":"Livingroom","tab":"e3875eee.72fbe8","disp":true,"width":"4","collapse":false},{"id":"2cf4235.e34e55c","type":"ui_group","z":"","name":"Kitchen","tab":"e3875eee.72fbe8","disp":true,"width":"4","collapse":false},{"id":"8d059242.6be7e8","type":"ui_group","z":"","name":"Bedroom","tab":"e3875eee.72fbe8","disp":true,"width":"4","collapse":false},{"id":"b580a980.dd9968","type":"ui_group","z":"","name":"Average Temperature of Home","tab":"e3875eee.72fbe8","disp":true,"width":"6","collapse":false},{"id":"90737a54.21828","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"780e3e31.d1ada8","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94285c3a.1f49c","type":"ui_group","z":"","name":"Overall","tab":"e3875eee.72fbe8","disp":true,"width":"4","collapse":false},{"id":"e3875eee.72fbe8","type":"ui_tab","z":"","name":"Kasenov","icon":"dashboard"}]
